<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="PossibleFilters" value="UIA-Filterung, Java-AccessBridge-Filterung"/>  <!-- Liste aller anzeigenamen der Filterklassen -->
    
  <!--  Anzeigename <-> Zuordnung Filterklasse (namspace.TypeName, dllName)  -->
  <add key="UIA-Filterung" value="StrategyUIA.FilterStrategyUIA, StrategyUIA"/>
  <add key="Java-AccessBridge-Filterung" value="StrategyJAVA.FilterStrategyJAVA, StrategyJAVA"/>
    
</appSettings>