<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="PossibleFilters" value="UIA-Filterung, Java-AccessBridge-Filterung"/>  <!-- Liste aller anzeigenamen der Filterklassen -->
    
  <!--  Anzeigename <-> Zuordnung Filterklasse (namspace.TypeName, dllName)  -->
  <add key="UIA-Filterung" value="StrategyUIA.FilterStrategyUIA, StrategyUIA"/>
  <add key="Java-AccessBridge-Filterung" value="StrategyJAVA.FilterStrategyJAVA, StrategyJAVA"/>


  <add key="PossibleOperationSystems" value="Windows"/> <!-- Liste aller anzeigenamen der Betriebssystem-Methoden -->
  <add key="Windows" value="StrategyWindows.OperationSystemStrategyWindows, StrategyWindows"/>
  
  <add key="PossibleTrees" value="GenericTree"/> <!-- Liste aller anzeigenamen der trees -->
  <add key="GenericTree" value="StrategyGenericTree.NodeTree`1, StrategyGenericTree"/>
  <!--add key="GenericTree" value="StrategyGenericTree.NodeTree`1[[StrategyManager.GeneralProperties, StrategyManager]], StrategyGenericTree"/-->
  
    
</appSettings>