<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <!-- list of oll display names of filter libraries -->
  <add key="PossibleFilters" value="UIA, JAB, UIA2"/>     
  <!--  display name <-> filter library (namspace.TypeName, dllName)  -->
  <add key="UIA" value="StrategyUIA.FilterStrategyUIA, StrategyUIA"/>
  <add key="JAB" value="StrategyJAVA.FilterStrategyJAVA, StrategyJAVA"/>
  <add key="UIA2" value="StrategyUIA2.FilterStrategyUIA2, StrategyUIA2"/>

  <!-- list of all display names of operating system libraries -->
  <add key="PossibleOperationSystems" value="Windows"/> 
  <add key="Windows" value="StrategyWindows.OperationSystemStrategyWindows, StrategyWindows"/>

  <!-- list of all display names of tree libraries -->
  <add key="PossibleTrees" value="GenericTree"/> 
  <add key="GenericTree" value="StrategyGenericTree.Tree2Extended`1, StrategyGenericTree"/>
  <!--add key="GenericTree" value="StrategyGenericTree.NodeTree`1[[StrategyManager.GeneralProperties, StrategyManager]], StrategyGenericTree"/-->

  <!-- list of all display names of Braille display libraries -->
  <add key="PossibleBrailleDisplays" value="BrailleIO-BrailleDis"/>
  <add key="BrailleIO-BrailleDis" value="StrategyBrailleIO.BrailleDisplayStrategyBrailleIO, StrategyBrailleIO"/>

  <!-- list of all display names of Braille displays-->
  <add key="PossibleDisplayStrategies" value="Simulator_Dresden, MVBD, BrailleDis"/>
  <add key="Simulator_Dresden" value="StrategyBrailleIO.DisplayStrategyBrailleIoSimulator, StrategyBrailleIO"/>
  <add key="MVBD" value="StrategyMVBD.DisplayStrategyMVBD, StrategyMVBD"/>
  <add key="BrailleDis" value="StrategyBrailleIO.DisplayStrategyBrailleDis, StrategyBrailleIO"/>

  <!-- list of all display names of event libraries -->
  <add key="PossibleEventManager" value="PRISM"/>
      <!--  display name <-> event libraries (namspace.TypeName, dllName)  -->
  <add key="PRISM" value="StrategyEventManager_AggregatorPRISM.EventAggregatorPRISM, StrategyEventManager_AggregatorPRISM"/>

  <add key="PossibleEventManager2" value="EventManager"/> <!-- TODO: Key und Name anpassen -->
  <add key="EventManager" value="StrategyEvent.EventManager, StrategyEvent"/>

  <add key="PossibleEventProcessor" value="EventProcessor"/>
  <add key="EventProcessor" value="StrategyEvent.EventProcessor, StrategyEvent"/>

  <add key="PossibleEventAction" value="EventAction"/>
  <add key="EventAction" value="StrategyEvent.EventAction, StrategyEvent"/>

  <add key="PossibleUiTemplateStrategies" value="TemplateUi"/>
  <add key="TemplateUi" value="TemplatesUi.GenaralUI, TemplatesUi"/>
  
  
  <!---->
  <!-- list of all possible type of views (cf. Prescher "A Tactile Windowing System for Blind Users") -->
  <add key="ListOfTypesOfViews" value="SymbolView, LayoutView" />

  <add key="savedScreenReaderDirectory" value="C:\Users\Francis Zinke\ownCloud\GRANT_OwnCloud\ZIM-Innovationstag\Demo\SpeichernLaden\ShowOff"/>
  <add key="filteredTreeSavedName" value="filteredTree.xml"/>
  <add key="brailleTreeSavedName" value="brailleTree.xml"/>
  <add key="osmTreeConectorName" value="osmTreeConnector.xml"/>
  <add key="filterstrategyFileName" value="filterstrategies.xml"/>
  <add key="navigationbarSubstring" value="NavigationBarScreens"/>
</appSettings>