<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="PossibleFilters" value="UIA, JAB, UIA2"/>  <!-- Liste aller anzeigenamen der Filterklassen -->
    
  <!--  Anzeigename <-> Zuordnung Filterklasse (namspace.TypeName, dllName)  -->
  <add key="UIA" value="StrategyUIA.FilterStrategyUIA, StrategyUIA"/>
  <add key="JAB" value="StrategyJAVA.FilterStrategyJAVA, StrategyJAVA"/>
  <add key="UIA2" value="StrategyUIA2.FilterStrategyUIA2, StrategyUIA2"/>


  <add key="PossibleOperationSystems" value="Windows"/> <!-- Liste aller Anzeigenamen der Betriebssystem-Methoden -->
  <add key="Windows" value="StrategyWindows.OperationSystemStrategyWindows, StrategyWindows"/>
  
  <add key="PossibleTrees" value="GenericTree"/> <!-- Liste aller Anzeigenamen der trees -->
  <add key="GenericTree" value="StrategyGenericTree.Tree2Extended`1, StrategyGenericTree"/>
  <!--add key="GenericTree" value="StrategyGenericTree.NodeTree`1[[StrategyManager.GeneralProperties, StrategyManager]], StrategyGenericTree"/-->



  <add key="PossibleBrailleDisplays" value="BrailleIO-BrailleDis"/>
  <!-- Liste aller Anzeigenamen der BrailleDisplay-Methoden -->
  <add key="BrailleIO-BrailleDis" value="StrategyBrailleIO.BrailleDisplayStrategyBrailleIO, StrategyBrailleIO"/>
  
  <add key="PossibleTreeOperations" value="Tree-Operationen"/> <!-- Liste aller Anzeigenamen der trees -->
  <add key="Tree-Operationen" value="StrategyGenericTree.TreeOperations`1, StrategyGenericTree"/>
 

  <add key="PossibleDisplayStrategies" value="Simulator_Dresden, MVBD, BrailleDis"/> <!-- Liste aller Anzeigenamen der DisplayStrategy-Methoden -->
  <add key="Simulator_Dresden" value="StrategyBrailleIO.DisplayStrategyBrailleIoSimulator, StrategyBrailleIO"/>
  <add key="MVBD" value="StrategyMVBD.DisplayStrategyMVBD, StrategyMVBD"/>
  <add key="BrailleDis" value="StrategyBrailleIO.DisplayStrategyBrailleDis, StrategyBrailleIO"/>
</appSettings>