/FilterApplication/bin/Release
/FilterApplication/bin/Debug
/FilterApplication/obj
/Tree/obj/Debug
/Tree/bin/Debug
/Tree/bin/Release
/Basics/bin/Release
/Basics/bin/Debug
/GApplication/bin/Release
/GApplication/bin/Debug
/UIA/bin/Release
/UIA/bin/Debug
/Tree/bin
Debug
